h1 {
  text-align : center;
}

h2 {
  text-align : center;
}

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.links text {
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}
rect {
    fill: steelblue;
}

.nodes square {
}

.nodes triangle {
}

.nodes text {
}

.nodes git_text {
}

text {
   font-size: 28px;
} 
